# 🔒 Arquivos privados
.env
*.log

# 📦 Dependências e cache
node_modules/

# 📂 Dados de autenticação do WhatsApp
.wwebjs_auth/
.wwebjs_cache/

# 🐙 Git e sistema operacional
.DS_Store
Thumbs.db

# 🛠 Arquivos temporários
*.tmp
*.bak
